<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Создать отзыв</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Reggae+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Cut&family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
         <link rel="icon" href="https://w7.pngwing.com/pngs/978/493/png-transparent-dog-paw-illustration-dog-cat-paw-animal-track-footprint-footprint-animals-pet-heart.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Brygada+1918&family=Quattrocento+Sans&family=Reggae+One&display=swap" rel="stylesheet">
    <style type="text/css">
     body {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     font-family: 'Quattrocento Sans', sans-serif;
     font-size: 18px;
     background-color: #ECECEC;
     max-width: 1540px;
     }
     </style>
</head>
<body  class="alert alert-success alert-dismissible fade show mt-2">
<div  class="container">
     <h1 style="font-family: 'Racing Sans One', cursive;
                       position: absolute;
                       left: 53.65%;
                       right: 73.33%;
                       top: 8.5%;
                       bottom: 80%;
                       font-style: normal;
                       font-weight: normal;
                       text-indent: -150px;
                       line-height: 0px;
                       font-size: 36px;
                      color: #000000;">Создать отзыв</h1>
     <form method="post">
       <div  style="padding-top: 100px;">
         {% csrf_token %}
         {{ form.author }}<br>
         {{ form.text }}<br>
         <button type="submit" class="btn btn-success">Добавить</button>
         <span>{{ error }}</span>

       </div>
     </form>
</div>
</body>
</html>